.nav{
  display: flex;
  padding: 0.5em 1.2em;
  padding-top: 0.9em;
  }

.left{
  flex: 1;
  display: flex;
  gap: 1.2em;
}

.right{
  
  display: flex;
  justify-content: end;
  gap: 1.1em;
}


.element-1{
  font-size: 0.9em;
  text-decoration: none;
  color: #1f1f1f;
}

.element-1:hover {
  text-decoration: underline;
}

.connexion{
  text-decoration: none;
  font-size: 0.9em;
  color: white;
  background-color:#0b57d0;
  border-radius: 1.4em;
  padding: 0.8em;
}